## BF768 ##
### Introduction ###

### Attendance ###

 * ### Where are you from ###

### Review [Syllabus](syllabus.spring.2020.pdf) ###

### Class Rules ###
  * ### Be on time ###
  * ### Five minute break after first hour ###

### Assumptions about previous knowledge ###
 * ### Python ###
 * ### Command Line Instructions ###
 * ### Programming code editors ###

### Discussion ###
 * ### What is biological data? ###


### What is a database (DB)?  a database management system (DBMS)? ###
 * ### DB Examples ###
 * ### DB properties ###
  * ### Organized information ###
  * ### Way to look up information ###
  * ### Rapid retrieval ###
  * ### Flexibility in ways to look up information ###
  * ### Flexibiility in presentation of results ###
  * ### World wide access###
 * ### DBMS properties ### 
  * ### Complex data storage schemes ###
  * ### Rules for how data is organized ###
  * ### Fast retrieval with indexing ###
  * ### Multiple simultaneous users ###
  * ### Protects consistency of data ###  
  * ### Recovery from system crashes ###

### What we will learn ###
 * ### How to design and implement a relational database ###
 * ### How to put data into and get data out of a database ###
 * ### How to build a Python program to access a database ###
 * ### How to communicate with a database through a web browser ###
 * ### How to display database data in a web browser ###

### Database Example ###
 * ### The Tandem Repeats Database: TRDB <https://tandem.bu.edu/cgi-bin/trdb/trdb.exe> ###
  * ### login ###
  * ### sets tab ###
  * ### Public Database ###
  * ### C. elegans 2004 ###
  * ### Full genome ###
  * ### Pattern Size >= 25 ###
  * ### Copy number >= 10 ###
  * ### First index >= 280723 ###
  * ### First entry in table ###

### Database Example ###
 * ### VNTRdb <http://orca.bu.edu/vntrdb/vntr/182168460>###

### Database Example ###
 * ### NAR Reviewer Database: <http://localhost/cgi-bin/nar.database.access16e.cgi?> ###
   * ### look up keywords ###
   * ### look up title words ###

### Show Sequel Pro ###

### Print typical SQL queries ###

In [1]:
#people with more than one name in the database

print( 
"""
select id, max(name), count(name) as c
from idName
group by id
having c>2
""")

select id, max(name), count(name) as c
from idName
group by id
having c>2

In [ ]:
#show all the names for each person using group_concat()

print( 
"""
select id, group_concat(name separator '; '), count(name) as c
from idName
group by id
having c>2
""")

#show all names as a vertical list

print( 
"""
select id, name 
from idName join 
(select id
 from idName 
 group by id 
 having count(id)> 2) as x 
using (id)
""")

### Access database directly from Jupyter notebook ###

In [2]:
#get count of number of reviews returned for each number of days (1...max)

#import module to connect to a mysql database
import mysql.connector

#create the connection with login details
connection = mysql.connector.connect(user='root', password='',
                                      host='127.0.0.1',
                                      database='test')

#the cursor sends and receives information from the database
cursor = connection.cursor()

#this is the SQL query to execute
cursor.execute("""select days, count(*) as c
                    from idReviewers
                    where days !=0
                    group by days""")

#ows receives the results of the query
rows = cursor.fetchall()

#the rows are displayed in order to see what happened
print('Rows returned from table.  Each is a tuple:')
for row in rows:
    print(row)

#each entry in rows is a tuple of two values
#the next two lines split the values into two separate lists, days and counts
days = list(row[0] for row in rows)
counts = list(row[1] for row in rows)

#the contents of days and counts is displayed to see what happened.
print('\nList of days:\n',days)
print('\nList of counts:\n',counts)

ModuleNotFoundError: No module named 'mysql'

### Create a barplot of time to return reviews ###

In [ ]:
# use matplotlib
import numpy as np
import matplotlib.pyplot as plt

#set size of figure
plt.figure(figsize=[12, 6], dpi=100, facecolor='xkcd:wheat', edgecolor='k')

#get bar positions
x_pos = np.arange(len(days))

#plot bars
plt.bar(x_pos, counts, tick_label=days, align='center', alpha=1.0)

#rotate bar labels
plt.xticks(rotation=45)

#set axis labels and title
plt.ylabel('Count')
plt.xlabel('Days from Accepting to Do Review')
plt.title('Histogram: Time to return review')

#draw the plot
plt.show()

### More SQL Queries ###

In [ ]:
#To see how many reviews in total
select count(*) as c
from idReviewers
where days !=0

#To see how many reviews came in on time
select sum(c) 
from 
(select days, count(*) as c
from idReviewers
where days !=0
group by days) as x
where days<=14

#To see how many reviews came in late
select sum(c) 
from 
(select days, count(*) as c
from idReviewers
where days <> 0
group by days) as x
where days>= 14